body {
    background: #F8D1E0;
}

.left-side-vector {
    position: absolute;
    top: 6.5em;
    left: 0;
    height: 115%;
    z-index: -1;
}

.left-side-vector-2 {
    position: absolute;
    top: 6.5em;
    left: 0;
    height: 112%;
    z-index: -1;
}

.pencil-icon {
    position: absolute;
    top: 6.75em;
    left: 0;
}

.school-bag-icon, .school-bag-icon-2 {
    position: absolute;
    top: 24em;
    left: 0;
}

.notebook-icon {
    position: absolute;
    bottom: -9em;
    left: 0;
}

.notebook-icon-2 {
    position: absolute;
    bottom: -7.5em;
    left: 0;
}


.right-side-vector {
    position: absolute;
    top: 2.5em;
    right: 0;
    z-index: -1;
}

.right-side-vector-2 {
    position: absolute;
    top: 2.5em;
    right: 0;
    height: 123%;
    z-index: -1;
}

.scale-icon {
    position: absolute;
    top: 6.75em;
    right: 0;
}

.book-icon {
    position: absolute;
    top: 24em;
    right: 0;
}

.help-icon {
    position: absolute;
    top: 20.25em;
    right: 0;
}

.bachelor-cap-icon {
    position: absolute;
    bottom: -8em;
    right: 0;
}

.bachelor-cap-icon-2 {
    position: absolute;
    bottom: -6em;
    right: 0;
}



/* Responsive Breakpoints for Different Screens */

@media only screen and (max-width: 1200px) {
    .left-side-vector {
        height: 88%;
    }
    .left-side-vector-2 {
        height: 90%;
    }
    .pencil-icon {
        top: 6.88em;
    }
    .school-bag-icon, .school-bag-icon-2 {
        top: 24.50em;
    }
    .notebook-icon {
        bottom: 4.05em;
    }
    .notebook-icon-2 {
        bottom: 3.5em;
    }
    .right-side-vector-2 {
        height: 97%;
    }
    .help-icon {
        width: 5.25%;
        top: 21.75em;
    }
    .bachelor-cap-icon {
        bottom: 5.5em;
    }
    .bachelor-cap-icon-2 {
        bottom: 6em;
    }
}


@media only screen and (max-width: 992px) {
    .left-side-vector {
        height: 105%;
    }
    .left-side-vector-2 {
        height: 100%;
    }
    .school-bag-icon-2 {
        top: 23.5em;
    }
    .notebook-icon {
        bottom: -4.35em;
    }
    .notebook-icon-2 {
        bottom: -3em;
    }
    .right-side-vector-2 {
        height: 114%;
    }
    .help-icon {
        width: 6.75%;
        top: 21.15em;
    }
    .bachelor-cap-icon {
        bottom: -3em;
    }
    .bachelor-cap-icon-2 {
        bottom: -1.25em;
    }
}


@media only screen and (max-width: 768px) {
    .pencil-icon {
        width: 6.5%;
    }
    .school-bag-icon {
        width: 6.5%;
        top: 20.25em;
    }
    .notebook-icon {
        width: 6.5%;
        bottom: -4.75em;
    }
    .right-side-vector {
        height: 115%;
    }
    .scale-icon {
        width: 9%;
        top: 6.5em;
    }
    .book-icon {
        width: 7.25%;
        top: 21.5em;
    }
    .help-icon {
        width: 7.25%;
        /* top: 21.5em; */
    }
    .bachelor-cap-icon {
        width: 7.25%;
        bottom: -3.75em;
    }
}
